.root {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  display: flex;
}

.label {
  padding: 1em;
  flex-basis: 50px;
}

.urlInput {
  padding: 1em;
  display: flex;
  flex-grow: 1;
}

.submit {
  flex-basis: 50px;
}

.response {
  display: flex;
  padding: 2em;
}

.result {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
